<div class='container mt-10'>
  <div class='projectId' project-id='{{id}}'>
    <h2 class='mt-2 mb-5 profileTitle'>{{name}}</h2>
    <div class='row'>
      <div class='col-6'>
        <p>Owner: {{user.name}}</p>
        <p>Status: {{status}}</p>
        <p>Description: {{description}} </p>
      </div>
      <div class='col-6'>
        <p class='priorityColor'>Priority: {{priority}}</p>
        <p>Deadline: {{deadline}}</p>
        <p>Budget: {{budget}}</p>
      </div>
    </div>

    <p class='mt-5 mb-7 createdProject'>Created on
      {{format_date date_created}}</p>
  </div>

  <form class='row customizedForm' id='customizedForm'>

    <div class='col-12'>
      <input
        name='commentUsername'
        id='commentUsername'
        placeholder='Add your name'
        value=''
        class='form-input w-100'
      />
      <textarea
        placeholder='Leave a comment'
        for='post-comment'
        class='form-input'
        id='commentText'
        name='post-comment'
        class='form-input w-100'
      ></textarea>
      <button class='btn btn-primary projectBtn addCommentBtn' type='submit'>
        Add comment</button>
    </div>
  </form>

  <section class='comments' id='comment-container'></section>
</div>

<script src='/js/comments.js'></script>