<div class='container'>
  <h2 class='profileTitle'>Projects</h2>

  <div class='projectCardTitle'>
    <div class='row project'>
      <div class='col-md-2 t1 hidden lg:block'>
        Project Name
      </div>
      <div class='col-md-1 t1 hidden lg:block'>
        Owner
      </div>
      <div class='col-md-2 t1 hidden lg:block'>
        Status
      </div>
      <div class='col-md-2 t1 hidden lg:block'>
        Description
      </div>
      <div class='col-md-2 t1 hidden lg:block'>
        Deadline
      </div>
      <div class='col-md-1 t1 hidden lg:block'>
        Priority
      </div>
      <div class='col-md-1 t1 hidden lg:block'>
        Budget
      </div>
      <div class='col-md-1 t1 hidden lg:block'>
      </div>

    </div>
  </div>

  {{#each projects as |project|}}
    <div>
      <div class='projectCard'>

        <div class='row project'>
          <div
            class='col-md-2'
            id='projectName-{{project.id}}'
            contenteditable='true'
          >

            {{project.name}}

          </div>
          <div class='col-md-1'>

            {{project.user.name}}

          </div>
          <div class='col-md-2' id='projectStatus'>
            <select
              class='form-input projectStatus'
              id='project-status-{{project.id}}'
              name='project-status'
            ><option
                value='{{project.status}}'
                disabled
                selected='selected'
              >{{project.status}}</option>
              <option value='Early stages'>Early Stages</option>
              <option value='In progress'>In progress</option>
              <option value='Blocked'>Blocked</option>
              <option value='Done'>Done</option>

            </select>

          </div>
          <div
            class='col-md-2'
            id='projectDescription-{{project.id}}'
            contenteditable='true'
          >

            {{project.description}}

          </div>
          <div class='col-md-2' class='deadlineDate'>
            <input
              name='date'
              class='date'
              type='date'
              id='project-deadline-{{project.id}}'
              name='project-deadline'
              value='{{project.deadline}}'
            />

          </div>
          <div class='col-md-1' id='projectPriority-{{project.id}}'>
            <select
              class='form-input projectPriority'
              id='project-priority-{{project.id}}'
              name='project-priority'
            >
              <option value='{{project.priority}}' selected='selected'>
                {{project.priority}}</option>
              <option value='High'>High</option>
              <option value='Medium'>Medium</option>
              <option value='Low'>Low</option>
            </select>

          </div>
          <div
            class='col-md-1'
            id='projectBudget-{{project.id}}'
            contenteditable='true'
          >
            <span class='dollar-amount'>{{format_amount project.budget}}</span>

          </div>
          <div class='col-md-1'>
            <button
              class='updateBtn'
              id='projectUpdate'
              type='submit'
              modif-id='{{id}}'
            >
              🔄
            </button>
          </div>

        </div>

      </div>
      <div class='row'>

        <div class='col-6'>
          <div>Created on
            {{format_date project.date_created}}</div>
        </div>
        <div class='col-6 seeMore' id='seeMore'>
          <a href='/project/{{project.id}}'>See more</a>
        </div>

      </div>
    </div>

  {{/each}}
</div>

<script src='/js/update.js'></script>